<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-pandas-and-the-museum's-collections-data" data-toc-modified-id="Import-pandas-and-the-museum's-collections-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import pandas and the museum's collections data</a></span></li><li><span><a href="#Show-the-museum's-collections-data" data-toc-modified-id="Show-the-museum's-collections-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Show the museum's collections data</a></span></li><li><span><a href="#Show-a-collection-item-with-duplicated-citations-and-creators" data-toc-modified-id="Show-a-collection-item-with-duplicated-citations-and-creators-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Show a collection item with duplicated citations and creators</a></span></li><li><span><a href="#Create-a-collections-DataFrame" data-toc-modified-id="Create-a-collections-DataFrame-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Create a collections DataFrame</a></span></li><li><span><a href="#Create-a-citations-DataFrame" data-toc-modified-id="Create-a-citations-DataFrame-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Create a citations DataFrame</a></span></li><li><span><a href="#Create-a-creators-DataFrame" data-toc-modified-id="Create-a-creators-DataFrame-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Create a creators DataFrame</a></span></li><li><span><a href="#Count-the-number-of-collection-items-with-a-creator-born-after-1950" data-toc-modified-id="Count-the-number-of-collection-items-with-a-creator-born-after-1950-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Count the number of collection items with a creator born after 1950</a></span></li></ul></div>

# Import pandas and the museum's collections data

In [1]:
import pandas as pd

In [2]:
# pd.options.display.float_format = '{:,.0f}'.format

In [3]:
import watermark
%load_ext watermark

%watermark -n -i -iv

watermark: 2.1.0
json     : 2.0.9
pandas   : 1.2.1

In [4]:
cma = pd.read_csv('data/cmacollections.csv')

# Show the museum's collections data

In [5]:
cma.shape

(12326, 9)

In [6]:
cma.head(2).T

                                 0                    1
id                           92937                92937
citation        Milliken, William    Glasier, Jessie C.
creator         George Bellows (Am   George Bellows (Am
title            Stag at Sharkey's    Stag at Sharkey's
birth_year                    1882                 1882
death_year                    1925                 1925
collection     American - Painting  American - Painting
type                      Painting             Painting
creation_date                 1909                 1909

In [7]:
cma['id'].nunique()

972

In [8]:
cma.drop_duplicates(['id', 'citation']).id.count()

9758

In [9]:
cma.drop_duplicates(['id', 'creator']).id.count()

1055

# Show a collection item with duplicated citations and creators

In [10]:
cma.set_index(['id'], inplace=True)

In [11]:
cma.loc[124733, ['title', 'citation', 'creator', 'birth_year']].head(14)

                   title            citation             creator birth_year
id
124733  Dead Blue Roller  Weigel, J. A. G. <  Albrecht Dürer (Ge       1471
124733  Dead Blue Roller  Weigel, J. A. G. <  Hans Hoffmann (Ger    1545/50
124733  Dead Blue Roller  Winkler, Friedrich  Albrecht Dürer (Ge       1471
124733  Dead Blue Roller  Winkler, Friedrich  Hans Hoffmann (Ger    1545/50
124733  Dead Blue Roller  Francis, Henry S.   Albrecht Dürer (Ge       1471
124733  Dead Blue Roller  Francis, Henry S.   Hans Hoffmann (Ger    1545/50
124733  Dead Blue Roller  Kurz, Otto. <em>Fa  Albrecht Dürer (Ge       1471
124733  Dead Blue Roller  Kurz, Otto. <em>Fa  Hans Hoffmann (Ger    1545/50
124733  Dead Blue Roller  Minneapolis Instit  Albrecht Dürer (Ge       1471
124733  Dead Blue Roller  Minneapolis Instit  Hans Hoffmann (Ger    1545/50
124733  Dead Blue Roller  Pilz, Kurt. "Hans   Albrecht Dürer (Ge       1471
124733  Dead Blue Roller  Pilz, Kurt. "Hans   Hans Hoffmann (Ger    1545/50
124733  Dead Blue Roller  Koschatzky, Walter  Albrecht Dürer (Ge       1471
124733  Dead Blue Roller  Koschatzky, Walter  Hans Hoffmann (Ger    1545/50

# Create a collections DataFrame

In [12]:
collectionvars = ['title', 'collection', 'type']
cmacollections = cma[collectionvars].reset_index().drop_duplicates(
    ['id']).set_index(['id'])

In [13]:
cmacollections.shape

(972, 3)

In [14]:
cmacollections.head()

                                 title            collection      type
id
92937                Stag at Sharkey's   American - Painting  Painting
94979                   Nathaniel Hurd   American - Painting  Painting
137259        Mme L... (Laure Borreau)  Mod Euro - Painting   Painting
141639      Twilight in the Wilderness   American - Painting  Painting
93014   View of Schroon Mountain, Esse   American - Painting  Painting

In [15]:
cmacollections.loc[124733]

title         Dead Blue Roller
collection         DR - German
type                   Drawing
Name: 124733, dtype: object

# Create a citations DataFrame

In [16]:
cmacitations = cma[['citation'
                    ]].reset_index().drop_duplicates(['id', 'citation'
                                                      ]).set_index(['id'])

In [17]:
cmacitations.loc[124733]

                  citation
id
124733  Weigel, J. A. G. <
124733  Winkler, Friedrich
124733  Francis, Henry S.
124733  Kurz, Otto. <em>Fa
124733  Minneapolis Instit
124733  Pilz, Kurt. "Hans
124733  Koschatzky, Walter
124733  Johnson, Mark M<em
124733  Kaufmann, Thomas D
124733  Koreny, Fritz. <em
124733  Achilles-Syndram,
124733  Schoch, Rainer, Ka
124733  DeGrazia, Diane an
124733  Dunbar, Burton L.,

# Create a creators DataFrame

In [18]:
creatorsvars = ['creator', 'birth_year', 'death_year']

In [19]:
cmacreators = cma[creatorsvars].reset_index().drop_duplicates(
    ['id', 'creator']).set_index('id')

In [20]:
cmacreators.loc[124733]

                   creator birth_year death_year
id
124733  Albrecht Dürer (Ge       1471       1528
124733  Hans Hoffmann (Ger    1545/50    1591/92

# Count the number of collection items with a creator born after 1950

In [21]:
cmacreators['birth_year'] = cmacreators['birth_year'].str.findall(
    '\d+').str[0].astype(float)

In [23]:
youngartists = cmacreators.loc[cmacreators['birth_year'] > 1950,
                               ['creator']].assign(creatorbornafter1950 = 'Y')

In [24]:
youngartists.shape[0] == youngartists.index.nunique()

True

In [25]:
youngartists.index.nunique()

8

In [26]:
youngartists

                   creator creatorbornafter1950
id
371392  Belkis Ayón (Cuban                    Y
162624  Robert Gober (Amer                    Y
172588  Rachel Harrison (A                    Y
169335  Pae White (America                    Y
169862  Fred Wilson (Ameri                    Y
312739  Liu Jing (Chinese,                    Y
293323  Zeng Xiaojun (Chin                    Y
172539  Fidencio Fifield-P                    Y

In [27]:
cmacollections = pd.merge(cmacollections,
                          youngartists,
                          left_on=['id'],
                          right_on=['id'],
                          how='left')

In [28]:
cmacollections['creatorbornafter1950'].fillna('N', inplace=True)

In [29]:
cmacollections.shape

(972, 5)

In [30]:
cmacollections['creatorbornafter1950'].value_counts()

N    964
Y      8
Name: creatorbornafter1950, dtype: int64