<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Create-a-separate-file,-firstlook.py,-to-call-the-getfirstlook-function" data-toc-modified-id="Create-a-separate-file,-firstlook.py,-to-call-the-getfirstlook-function-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Create a separate file, firstlook.py, to call the getfirstlook function</a></span></li><li><span><a href="#Import-the-basicdescriptives-module" data-toc-modified-id="Import-the-basicdescriptives-module-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Import the basicdescriptives module</a></span></li><li><span><a href="#Take-a-first-look-at-the-NLS-data" data-toc-modified-id="Take-a-first-look-at-the-NLS-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Take a first look at the NLS data</a></span></li><li><span><a href="#Pass-values-to-the-nrows-and-uniqueids-parameters-of-getfirstlook" data-toc-modified-id="Pass-values-to-the-nrows-and-uniqueids-parameters-of-getfirstlook-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Pass values to the nrows and uniqueids parameters of getfirstlook</a></span></li><li><span><a href="#Work-with-some-of-the-returned-dictionary-keys-and-values" data-toc-modified-id="Work-with-some-of-the-returned-dictionary-keys-and-values-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Work with some of the returned dictionary keys and values</a></span></li></ul></div>

# Create a separate file, firstlook.py, to call the getfirstlook function

In [1]:
import pandas as pd
import os
import sys

In [2]:
import watermark
%load_ext watermark

%watermark -n -i -iv

sys      : 3.7.9 (default, Aug 31 2020, 17:10:11) [MSC v.1916 64 bit (AMD64)]
watermark: 2.1.0
pandas   : 1.2.1
json     : 2.0.9

In [3]:
nls97 = pd.read_csv('data/nls97f.csv')
nls97.set_index('personid', inplace=True)

# Import the basicdescriptives module

In [4]:
sys.path.append(os.getcwd() + '\helperfunctions')
# print(sys.path)

In [5]:
import basicdescriptives as bd

In [6]:
# import importlib
# importlib.reload(bd)

# Take a first look at the NLS data

In [7]:
dfinfo = bd.getfirstlook(nls97)

In [8]:
bd.displaydict(dfinfo)

head:           gender  birthmonth  birthyear  highestgradecompleted  maritalstatus  \
personid
100061    Female           5       1980                   13.0        Married
100139      Male           9       1983                   12.0        Married
100284      Male          11       1984                    7.0  Never-married
100292      Male           4       1982                    NaN            NaN
100583      Male           1       1980                   13.0        Married

          childathome  childnotathome  wageincome        weeklyhrscomputer  \
personid
100061            4.0             0.0     12500.0  10 hours or more a week
100139            2.0             0.0    120000.0      1 to 3 hours a week
100284            1.0             0.0     58000.0                     None
100292            NaN             NaN         NaN                      NaN
100583            4.0             0.0     30000.0  Less than 1 hour a week

                    weeklyhrstv  ...      colenroct13      colenrfeb14  \
personid                         ...
100061    11 to 20 hours a week  ...  1. Not enrolled  1. Not enrolled
100139     3 to 10 hours a week  ...  1. Not enrolled  1. Not enrolled
100284    11 to 20 hours a week  ...  1. Not enrolled  1. Not enrolled
100292                      NaN  ...  1. Not enrolled  1. Not enrolled
100583     3 to 10 hours a week  ...  1. Not enrolled  1. Not enrolled

              colenroct14      colenrfeb15      colenroct15      colenrfeb16  \
personid
100061    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
100139    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
100284    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
100292    1. Not enrolled  1. Not enrolled  1. Not enrolled              NaN
100583    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled

              colenroct16      colenrfeb17      colenroct17 originalid
personid
100061    1. Not enrolled  1. Not enrolled  1. Not enrolled       8245
100139    1. Not enrolled  1. Not enrolled  1. Not enrolled       3962
100284    1. Not enrolled  1. Not enrolled  1. Not enrolled       3571
100292                NaN              NaN              NaN       2979
100583    1. Not enrolled  1. Not enrolled  1. Not enrolled       8511

[5 rows x 89 columns]

dtypes: gender                    object
birthmonth                 int64
birthyear                  int64
highestgradecompleted    float64
maritalstatus             object
                          ...
colenrfeb16               object
colenroct16               object
colenrfeb17               object
colenroct17               object
originalid                 int64
Length: 89, dtype: object

nrows: 8984

ncols: 89

index: Int64Index([100061, 100139, 100284, 100292, 100583, 100833, 100931, 101089,
            101122, 101132,
            ...
            998997, 999031, 999053, 999087, 999103, 999291, 999406, 999543,
            999698, 999963],
           dtype='int64', name='personid', length=8984)

# Pass values to the nrows and uniqueids parameters of getfirstlook

In [9]:
dfinfo = bd.getfirstlook(nls97, 2, 'originalid')

In [10]:
bd.displaydict(dfinfo)

head:           gender  birthmonth  birthyear  highestgradecompleted maritalstatus  \
personid
100061    Female           5       1980                   13.0       Married
100139      Male           9       1983                   12.0       Married

          childathome  childnotathome  wageincome        weeklyhrscomputer  \
personid
100061            4.0             0.0     12500.0  10 hours or more a week
100139            2.0             0.0    120000.0      1 to 3 hours a week

                    weeklyhrstv  ...      colenroct13      colenrfeb14  \
personid                         ...
100061    11 to 20 hours a week  ...  1. Not enrolled  1. Not enrolled
100139     3 to 10 hours a week  ...  1. Not enrolled  1. Not enrolled

              colenroct14      colenrfeb15      colenroct15      colenrfeb16  \
personid
100061    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
100139    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled

              colenroct16      colenrfeb17      colenroct17 originalid
personid
100061    1. Not enrolled  1. Not enrolled  1. Not enrolled       8245
100139    1. Not enrolled  1. Not enrolled  1. Not enrolled       3962

[2 rows x 89 columns]

dtypes: gender                    object
birthmonth                 int64
birthyear                  int64
highestgradecompleted    float64
maritalstatus             object
                          ...
colenrfeb16               object
colenroct16               object
colenrfeb17               object
colenroct17               object
originalid                 int64
Length: 89, dtype: object

nrows: 8984

ncols: 89

index: Int64Index([100061, 100139, 100284, 100292, 100583, 100833, 100931, 101089,
            101122, 101132,
            ...
            998997, 999031, 999053, 999087, 999103, 999291, 999406, 999543,
            999698, 999963],
           dtype='int64', name='personid', length=8984)

uniqueids: 8984

# Work with some of the returned dictionary keys and values

In [11]:
dfinfo['nrows']

8984

In [12]:
dfinfo['dtypes']

gender                    object
birthmonth                 int64
birthyear                  int64
highestgradecompleted    float64
maritalstatus             object
                          ...
colenrfeb16               object
colenroct16               object
colenrfeb17               object
colenroct17               object
originalid                 int64
Length: 89, dtype: object

In [13]:
dfinfo['nrows'] == dfinfo['uniqueids']

True