<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-the-pandas,-os,-and-sys-libraries" data-toc-modified-id="Import-the-pandas,-os,-and-sys-libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import the pandas, os, and sys libraries</a></span></li><li><span><a href="#Import-the-combineagg-module" data-toc-modified-id="Import-the-combineagg-module-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Import the combineagg module</a></span></li><li><span><a href="#Load-the-DataFrames" data-toc-modified-id="Load-the-DataFrames-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Load the DataFrames</a></span></li><li><span><a href="#Call-the-adjmeans-function-to-summarize-panel-data-by-group-and-time-period" data-toc-modified-id="Call-the-adjmeans-function-to-summarize-panel-data-by-group-and-time-period-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Call the adjmeans function to summarize panel data by group and time period</a></span></li><li><span><a href="#Call-the-checkmerge-function" data-toc-modified-id="Call-the-checkmerge-function-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Call the checkmerge function</a></span></li><li><span><a href="#Use-the-addfiles-function-to-concatenate-all-of-the-countries-land-temperatures-files" data-toc-modified-id="Use-the-addfiles-function-to-concatenate-all-of-the-countries-land-temperatures-files-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Use the addfiles function to concatenate all of the countries land temperatures files</a></span></li></ul></div>

# Import the pandas, os, and sys libraries

In [1]:
import pandas as pd
import os
import sys

In [2]:
import watermark
%load_ext watermark

%watermark -n -i -iv

sys      : 3.7.9 (default, Aug 31 2020, 17:10:11) [MSC v.1916 64 bit (AMD64)]
pandas   : 1.2.1
watermark: 2.1.0
json     : 2.0.9

# Import the combineagg module

In [3]:
sys.path.append(os.getcwd() + "/helperfunctions")
import combineagg as ca

In [4]:
# pd.set_option('display.width', 150)
# pd.set_option('display.max_columns', 15)
# pd.set_option('display.max_rows', 20)

In [12]:
import importlib
importlib.reload(ca)

# Load the DataFrames

In [6]:
coviddaily = pd.read_csv('data/coviddaily720.csv')
ltbrazil = pd.read_csv('data/ltbrazil.csv')
countries = pd.read_csv('data/ltcountries.csv')
locations = pd.read_csv('data/ltlocations.csv')

# Call the adjmeans function to summarize panel data by group and time period

In [7]:
# summarize panel data by group and time period, with exclusions

ca.adjmeans(coviddaily, 'location', 'new_cases', 'casedate')

              byvar      avgvar   sumvar  byvarcount
0       Afghanistan  186.221622  34451.0         185
1           Albania   26.753968   3371.0         126
2           Algeria   98.484211  18712.0         190
3           Andorra    7.066116    855.0         121
4            Angola    4.274336    483.0         113
..              ...         ...      ...         ...
204         Vietnam    1.937173    370.0         191
205  Western Sahara    6.653846    519.0          78
206           Yemen   14.776596   1389.0          94
207          Zambia   16.336207   1895.0         116
208        Zimbabwe    8.614035    982.0         114

[209 rows x 4 columns]

In [8]:
ca.adjmeans(coviddaily, 'location', 'new_cases', 'casedate', 150)

              byvar      avgvar   sumvar  byvarcount
0       Afghanistan  141.968750  22715.0         160
1           Albania   26.753968   3371.0         126
2           Algeria   94.133690  17603.0         187
3           Andorra    7.066116    855.0         121
4            Angola    4.274336    483.0         113
..              ...         ...      ...         ...
204         Vietnam    1.937173    370.0         191
205  Western Sahara    2.186667    164.0          75
206           Yemen   14.776596   1389.0          94
207          Zambia   11.190909   1231.0         110
208        Zimbabwe    8.614035    982.0         114

[209 rows x 4 columns]

# Call the checkmerge function

In [10]:
# check matches of merge-by values across data frames

ca.checkmerge(countries.copy(), locations.copy(), 'countryid', 'countryid')

inright  N      Y
inleft
N        0      1
Y        2  27472
      countryid inleft inright
9715         LQ      Y       N
13103        ST      Y       N
27474        FO      N       Y

# Use the addfiles function to concatenate all of the countries land temperatures files

In [13]:
# concatenate all pickle files in a folder, assuming they have the same structure
landtemps = ca.addfiles('data/ltcountry')
landtemps.country.value_counts()

ltbrazil.csv has 1104 rows.
ltcameroon.csv has 48 rows.
ltindia.csv has 1056 rows.
ltjapan.csv has 1800 rows.
ltmexico.csv has 852 rows.
ltoman.csv has 288 rows.

Different column names for:
ltoman.csv
Index(['latabs'], dtype='object')

ltpoland.csv has 120 rows.
Columns Matched: False

Japan       1800
Brazil      1104
India       1056
Mexico       852
Oman         288
Poland       120
Cameroon      48
Name: country, dtype: int64