<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-the-pandas,-os,-sys,-and-pprint-libraries" data-toc-modified-id="Import-the-pandas,-os,-sys,-and-pprint-libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import the pandas, os, sys, and pprint libraries</a></span></li><li><span><a href="#Import-the-respondent-class" data-toc-modified-id="Import-the-respondent-class-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Import the respondent class</a></span></li><li><span><a href="#Load-the-NLS-data-and-create-a-list-of-dictionaries" data-toc-modified-id="Load-the-NLS-data-and-create-a-list-of-dictionaries-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Load the NLS data and create a list of dictionaries</a></span></li><li><span><a href="#Loop-through-the-list,-creating-a-respondent-instance-each-time" data-toc-modified-id="Loop-through-the-list,-creating-a-respondent-instance-each-time-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Loop through the list, creating a respondent instance each time</a></span></li><li><span><a href="#Pass-the-dictionary-to-the-pandas-DataFrame-method" data-toc-modified-id="Pass-the-dictionary-to-the-pandas-DataFrame-method-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Pass the dictionary to the pandas DataFrame method</a></span></li></ul></div>

# Import the pandas, os, sys, and pprint libraries

In [1]:
import pandas as pd
import os
import sys
import pprint

In [2]:
import watermark
%load_ext watermark

%watermark -n -i -iv

watermark: 2.1.0
pandas   : 1.2.1
json     : 2.0.9
sys      : 3.7.9 (default, Aug 31 2020, 17:10:11) [MSC v.1916 64 bit (AMD64)]

# Import the respondent class

In [3]:
sys.path.append(os.getcwd() + '/helperfunctions')
import respondent as rp

In [4]:
# import importlib
# importlib.reload(rp)

# Load the NLS data and create a list of dictionaries

In [5]:
nls97 = pd.read_csv('data/nls97f.csv')
nls97list = nls97.to_dict('records')

In [6]:
nls97.shape

(8984, 90)

In [7]:
len(nls97list)

8984

In [8]:
pprint.pprint(nls97list[0:1])

[{'birthmonth': 5,
  'birthyear': 1980,
  'childathome': 4.0,
  'childnotathome': 0.0,
  'colenrfeb00': '1. Not enrolled',
  'colenrfeb01': '1. Not enrolled',
  'colenrfeb02': '1. Not enrolled',
  'colenrfeb03': '1. Not enrolled',
  'colenrfeb04': '1. Not enrolled',
  'colenrfeb05': '1. Not enrolled',
  'colenrfeb06': '1. Not enrolled',
  'colenrfeb07': '1. Not enrolled',
  'colenrfeb08': '1. Not enrolled',
  'colenrfeb09': '1. Not enrolled',
  'colenrfeb10': '1. Not enrolled',
  'colenrfeb11': '1. Not enrolled',
  'colenrfeb12': '3. 4-year college',
  'colenrfeb13': '1. Not enrolled',
  'colenrfeb14': '1. Not enrolled',
  'colenrfeb15': '1. Not enrolled',
  'colenrfeb16': '1. Not enrolled',
  'colenrfeb17': '1. Not enrolled',
  'colenrfeb97': '1. Not enrolled',
  'colenrfeb98': '1. Not enrolled',
  'colenrfeb99': '1. Not enrolled',
  'colenroct00': '1. Not enrolled',
  'colenroct01': '1. Not enrolled',
  'colenroct02': '1. Not enrolled',
  'colenroct03': '1. Not enrolled',
  'colenroct04': '1. Not enrolled',
  'colenroct05': '1. Not enrolled',
  'colenroct06': '1. Not enrolled',
  'colenroct07': '1. Not enrolled',
  'colenroct08': '1. Not enrolled',
  'colenroct09': '1. Not enrolled',
  'colenroct10': '1. Not enrolled',
  'colenroct11': '3. 4-year college',
  'colenroct12': '3. 4-year college',
  'colenroct13': '1. Not enrolled',
  'colenroct14': '1. Not enrolled',
  'colenroct15': '1. Not enrolled',
  'colenroct16': '1. Not enrolled',
  'colenroct17': '1. Not enrolled',
  'colenroct97': '1. Not enrolled',
  'colenroct98': '1. Not enrolled',
  'colenroct99': '1. Not enrolled',
  'gender': 'Female',
  'govcollegefinance': nan,
  'govdecenthousing': nan,
  'govelderliving': nan,
  'govhealthcare': nan,
  'govincomediff': nan,
  'govindhelp': nan,
  'govpricecontrols': nan,
  'govprotectenvironment': nan,
  'govprovidejobs': nan,
  'govunemp': nan,
  'gpaenglish': 350.0,
  'gpamath': 280.0,
  'gpaoverall': 306.0,
  'gpascience': 315.0,
  'highestdegree': '2. High School',
  'highestgradecompleted': 13.0,
  'maritalstatus': 'Married',
  'nightlyhrssleep': 6.0,
  'originalid': 8245,
  'personid': 100061,
  'satmath': nan,
  'satverbal': nan,
  'wageincome': 12500.0,
  'weeklyhrscomputer': '10 hours or more a week',
  'weeklyhrstv': '11 to 20 hours a week',
  'weeksworked00': 46.0,
  'weeksworked01': 52.0,
  'weeksworked02': 52.0,
  'weeksworked03': 48.0,
  'weeksworked04': 52.0,
  'weeksworked05': 53.0,
  'weeksworked06': 52.0,
  'weeksworked07': 52.0,
  'weeksworked08': 39.0,
  'weeksworked09': 40.0,
  'weeksworked10': 52.0,
  'weeksworked11': 53.0,
  'weeksworked12': 40.0,
  'weeksworked13': 52.0,
  'weeksworked14': 52.0,
  'weeksworked15': 52.0,
  'weeksworked16': 48.0,
  'weeksworked17': 48.0}]

# Loop through the list, creating a respondent instance each time

In [9]:
analysislist = []

In [10]:
for respdict in nls97list:
    resp = rp.Respondent(respdict)
    newdict = dict(originalid=respdict['originalid'],
                   childnum=resp.childnum(),
                   avgweeksworked=resp.avgweeksworked(),
                   age=resp.ageby('20201015'),
                   baenrollment=resp.baenrollment())
    analysislist.append(newdict)

# Pass the dictionary to the pandas DataFrame method

In [11]:
len(analysislist)

8984

In [12]:
resp.respondent_count

8984

In [13]:
pprint.pprint(analysislist[0:2])

[{'age': 40,
  'avgweeksworked': 49.05555555555556,
  'baenrollment': 'Y',
  'childnum': 4.0,
  'originalid': 8245},
 {'age': 37,
  'avgweeksworked': 49.388888888888886,
  'baenrollment': 'N',
  'childnum': 2.0,
  'originalid': 3962}]

In [14]:
analysis = pd.DataFrame(analysislist)

In [15]:
analysis.head(2)

   originalid  childnum  avgweeksworked  age baenrollment
0        8245       4.0       49.055556   40            Y
1        3962       2.0       49.388889   37            N