<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-pandas-and-numpy,-and-load-the-Covid-case-daily-data" data-toc-modified-id="Import-pandas-and-numpy,-and-load-the-Covid-case-daily-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import pandas and numpy, and load the Covid case daily data</a></span></li><li><span><a href="#Create-a-pandas-groupby-DataFrame" data-toc-modified-id="Create-a-pandas-groupby-DataFrame-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Create a pandas groupby DataFrame</a></span></li><li><span><a href="#Create-DataFrames-for-the-first-and-last-rows-of-each-country" data-toc-modified-id="Create-DataFrames-for-the-first-and-last-rows-of-each-country-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create DataFrames for the first and last rows of each country</a></span></li><li><span><a href="#Get-all-the-rows-for-a-country" data-toc-modified-id="Get-all-the-rows-for-a-country-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Get all the rows for a country</a></span></li><li><span><a href="#Loop-through-the-groups" data-toc-modified-id="Loop-through-the-groups-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Loop through the groups</a></span></li><li><span><a href="#Show-the-number-of-rows-for-each-country" data-toc-modified-id="Show-the-number-of-rows-for-each-country-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Show the number of rows for each country</a></span></li><li><span><a href="#Show-the-summary-statistics-by-country" data-toc-modified-id="Show-the-summary-statistics-by-country-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Show the summary statistics by country</a></span></li></ul></div>

# Import pandas and numpy, and load the Covid case daily data

In [1]:
import pandas as pd
import numpy as np

In [2]:
# pd.set_option('display.width', 200)
# pd.set_option('display.max_columns', 35)
# pd.set_option('display.max_rows', 50)
# pd.options.display.float_format = '{:,.0f}'.format

In [3]:
import watermark
%load_ext watermark

%watermark -n -i -iv

json     : 2.0.9
watermark: 2.1.0
pandas   : 1.2.1
numpy    : 1.19.2

In [4]:
coviddaily = pd.read_csv('data/coviddaily720.csv', parse_dates=['casedate'])

# Create a pandas groupby DataFrame

In [5]:
countrytots = coviddaily.groupby(['location'])
type(countrytots)

pandas.core.groupby.generic.DataFrameGroupBy

# Create DataFrames for the first and last rows of each country

In [6]:
countrytots.first().iloc[0:5, 0:5]

            iso_code   casedate continent  new_cases  new_deaths
location
Afghanistan      AFG 2019-12-31      Asia        0.0         0.0
Albania          ALB 2020-03-09    Europe        2.0         0.0
Algeria          DZA 2019-12-31    Africa        0.0         0.0
Andorra          AND 2020-03-03    Europe        1.0         0.0
Angola           AGO 2020-03-22    Africa        2.0         0.0

In [7]:
countrytots.last().iloc[0:5, 0:5]

            iso_code   casedate continent  new_cases  new_deaths
location
Afghanistan      AFG 2020-07-12      Asia       85.0        16.0
Albania          ALB 2020-07-12    Europe       93.0         4.0
Algeria          DZA 2020-07-12    Africa      904.0        16.0
Andorra          AND 2020-07-12    Europe        0.0         0.0
Angola           AGO 2020-07-12    Africa       25.0         2.0

# Get all the rows for a country

In [8]:
countrytots.get_group('Zimbabwe').iloc[0:5, 0:5]

      iso_code   casedate  location continent  new_cases
29099      ZWE 2020-03-21  Zimbabwe    Africa        1.0
29100      ZWE 2020-03-22  Zimbabwe    Africa        1.0
29101      ZWE 2020-03-23  Zimbabwe    Africa        0.0
29102      ZWE 2020-03-24  Zimbabwe    Africa        0.0
29103      ZWE 2020-03-25  Zimbabwe    Africa        0.0

In [9]:
countrytots.get_group('Zimbabwe').iloc[0:5]

,iso_code,casedate,location,continent,new_cases,new_deaths,population,pop_density,median_age,gdp_per_capita,hosp_beds,region
29099,ZWE,2020-03-21,Zimbabwe,Africa,1.0,0.0,14862927.0,42.729,19.6,1899.775,1.7,Southern Africa
29100,ZWE,2020-03-22,Zimbabwe,Africa,1.0,0.0,14862927.0,42.729,19.6,1899.775,1.7,Southern Africa
29101,ZWE,2020-03-23,Zimbabwe,Africa,0.0,0.0,14862927.0,42.729,19.6,1899.775,1.7,Southern Africa
29102,ZWE,2020-03-24,Zimbabwe,Africa,0.0,1.0,14862927.0,42.729,19.6,1899.775,1.7,Southern Africa
29103,ZWE,2020-03-25,Zimbabwe,Africa,0.0,0.0,14862927.0,42.729,19.6,1899.775,1.7,Southern Africa

# Loop through the groups

In [10]:
for name, group in countrytots:
    if (name in ['Malta', 'Kuwait']):
        print(group.iloc[0:5, 0:5])

      iso_code   casedate location continent  new_cases
14707      KWT 2019-12-31   Kuwait      Asia        0.0
14708      KWT 2020-01-01   Kuwait      Asia        0.0
14709      KWT 2020-01-02   Kuwait      Asia        0.0
14710      KWT 2020-01-03   Kuwait      Asia        0.0
14711      KWT 2020-01-04   Kuwait      Asia        0.0
      iso_code   casedate location continent  new_cases
17057      MLT 2020-03-07    Malta    Europe        1.0
17058      MLT 2020-03-08    Malta    Europe        2.0
17059      MLT 2020-03-09    Malta    Europe        0.0
17060      MLT 2020-03-10    Malta    Europe        2.0
17061      MLT 2020-03-11    Malta    Europe        1.0

# Show the number of rows for each country

In [11]:
countrytots.size()

location
Afghanistan       185
Albania           126
Algeria           190
Andorra           121
Angola            113
                 ...
Vietnam           191
Western Sahara     78
Yemen              94
Zambia            116
Zimbabwe          114
Length: 209, dtype: int64

# Show the summary statistics by country

In [12]:
countrytots.new_cases.describe().head()

             count        mean         std  min  25%   50%     75%     max
location
Afghanistan  185.0  186.221622  257.305202  0.0  0.0  37.0  302.00  1063.0
Albania      126.0   26.753968   24.651389  0.0  9.0  17.0   35.50    93.0
Algeria      190.0   98.484211  123.980103  0.0  0.0  88.0  149.75   904.0
Andorra      121.0    7.066116   12.716614  0.0  0.0   1.0    9.00    79.0
Angola       113.0    4.274336    8.509709  0.0  0.0   1.0    5.00    62.0

In [13]:
countrytots.new_cases.sum().head()

location
Afghanistan    34451.0
Albania         3371.0
Algeria        18712.0
Andorra          855.0
Angola           483.0
Name: new_cases, dtype: float64