<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-pandas-and-load-the-Covid-and-land-temperature-data" data-toc-modified-id="Import-pandas-and-load-the-Covid-and-land-temperature-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import pandas and load the Covid and land temperature data</a></span></li><li><span><a href="#Convert-Covid-data-from-one-country-per-day-to-summaries-across-all-countries-by-day" data-toc-modified-id="Convert-Covid-data-from-one-country-per-day-to-summaries-across-all-countries-by-day-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Convert Covid data from one country per day to summaries across all countries by day</a></span></li><li><span><a href="#Create-a-DataFrame-with-average-temperatures-for-each-station-in-Brazil" data-toc-modified-id="Create-a-DataFrame-with-average-temperatures-for-each-station-in-Brazil-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create a DataFrame with average temperatures for each station in Brazil</a></span></li></ul></div>

# Import pandas and load the Covid and land temperature data

In [1]:
import pandas as pd

In [2]:
# pd.set_option('display.width', 200)
# pd.set_option('display.max_columns', 35)
# pd.set_option('display.max_rows', 50)
# pd.options.display.float_format = '{:,.0f}'.format

In [3]:
import watermark
%load_ext watermark

%watermark -n -i -iv

watermark: 2.1.0
pandas   : 1.2.1
json     : 2.0.9

In [4]:
coviddaily = pd.read_csv('data/coviddaily720.csv', parse_dates=['casedate'])
ltbrazil = pd.read_csv('data/ltbrazil.csv')

# Convert Covid data from one country per day to summaries across all countries by day

In [5]:
coviddailytotals = coviddaily.loc[coviddaily['casedate'].between(
    '2020-02-01',
    '2020-07-12')].groupby(['casedate'],
                           as_index=False)[['new_cases', 'new_deaths']].sum()

In [6]:
coviddailytotals.head(10)

    casedate  new_cases  new_deaths
0 2020-02-01     2120.0        46.0
1 2020-02-02     2608.0        46.0
2 2020-02-03     2818.0        57.0
3 2020-02-04     3243.0        65.0
4 2020-02-05     3897.0        66.0
5 2020-02-06     3741.0        72.0
6 2020-02-07     3177.0        73.0
7 2020-02-08     3439.0        86.0
8 2020-02-09     2619.0        89.0
9 2020-02-10     2982.0        97.0

# Create a DataFrame with average temperatures for each station in Brazil

In [7]:
ltbrazil = ltbrazil.dropna(subset=['temperature'])

In [8]:
ltbrazil.head(2)

,locationid,year,month,temperature,latitude,longitude,elevation,station,countryid,country,latabs
1,BR000082704,2019,1,25.98,-7.633,-72.667,194.0,CRUZEIRO_DO_SUL,BR,Brazil,7.633
2,BR000083361,2019,1,28.65,-15.550,-56.117,151.0,CUIABA,BR,Brazil,15.550

In [9]:
ltbrazil.loc[103508:104551]

Empty DataFrame
Columns: [locationid, year, month, temperature, latitude, longitude, elevation, station, countryid, country, latabs]
Index: []

In [10]:
ltbrazil.shape

(969, 11)

In [11]:
ltbrazil.loc[
    103508:104551,
    ['station', 'year', 'month', 'temperature', 'elevation', 'latabs']]

Empty DataFrame
Columns: [station, year, month, temperature, elevation, latabs]
Index: []

In [12]:
ltbrazilavgs = ltbrazil.groupby(['station'], as_index=False).agg({
    'latabs':
    'first',
    'elevation':
    'first',
    'temperature':
    'mean'
})

In [13]:
ltbrazilavgs.head(10)

               station  latabs  elevation  temperature
0             ALTAMIRA   3.200      112.0    28.310000
1   ALTA_FLORESTA_AERO   9.867      289.0    29.374167
2                ARAXA  19.567     1004.0    21.612500
3              BACABAL   4.210       25.1    29.750000
4                 BAGE  31.333      242.0    19.295833
5             BARBALHA   7.317      409.0    27.200000
6             BARCELOS   0.981       34.1    28.270833
7       BARRA_DO_CORDA   5.500      153.0    28.766667
8            BARREIRAS  12.150      439.0    26.795833
9  BARTOLOMEU_LISANDRO  21.698       17.4    25.843333