<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-pandas-and-load-the-NLS-data" data-toc-modified-id="Import-pandas-and-load-the-NLS-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import pandas and load the NLS data</a></span></li><li><span><a href="#Edit-all-the-values-based-on-a-scalar" data-toc-modified-id="Edit-all-the-values-based-on-a-scalar-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Edit all the values based on a scalar</a></span></li><li><span><a href="#Set-values-using-index-labels" data-toc-modified-id="Set-values-using-index-labels-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Set values using index labels</a></span></li><li><span><a href="#Set-values-using-an-operator-on-more-than-one-series" data-toc-modified-id="Set-values-using-an-operator-on-more-than-one-series-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Set values using an operator on more than one series</a></span></li><li><span><a href="#Set-the-values-for-a-summary-statistic-using-index-labels" data-toc-modified-id="Set-the-values-for-a-summary-statistic-using-index-labels-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Set the values for a summary statistic using index labels</a></span></li><li><span><a href="#Set-the-values-using-position" data-toc-modified-id="Set-the-values-using-position-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Set the values using position</a></span></li><li><span><a href="#Set-the-GPA-values-after-filtering" data-toc-modified-id="Set-the-GPA-values-after-filtering-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Set the GPA values after filtering</a></span></li></ul></div>

# Import pandas and load the NLS data

In [1]:
import pandas as pd

In [3]:
# pd.set_option('display.width', 200)
# pd.set_option('display.max_columns', 35)
# pd.set_option('display.max_rows', 200)
pd.options.display.float_format = '{:,.2f}'.format

In [4]:
import watermark
%load_ext watermark

%watermark -n -i -iv

watermark: 2.1.0
json     : 2.0.9
pandas   : 1.2.1

In [5]:
nls97 = pd.read_csv('data/nls97b.csv')
nls97.set_index('personid', inplace=True)

# Edit all the values based on a scalar

In [7]:
nls97['gpaoverall'].head()

personid
100061   3.06
100139    NaN
100284    NaN
100292   3.45
100583   2.91
Name: gpaoverall, dtype: float64

In [9]:
gpaoverall100 = nls97['gpaoverall'] * 100
gpaoverall100.head()

personid
100061   306.00
100139      NaN
100284      NaN
100292   345.00
100583   291.00
Name: gpaoverall, dtype: float64

# Set values using index labels

In [11]:
# Warning us about setting values on a copy of a DataFrame. nls97.gpaoverall.loc[[100061]] = 3
# triggers that warning, while - nls97.loc[[100061], 'gpaoverall'] = 3 does not

nls97.loc[[100061], 'gpaoverall'] = 3
nls97.loc[[100139, 100284, 100292], 'gpaoverall'] = 0
nls97['gpaoverall'].head()

personid
100061   3.00
100139   0.00
100284   0.00
100292   0.00
100583   2.91
Name: gpaoverall, dtype: float64

# Set values using an operator on more than one series

In [14]:
nls97['childnum'] = nls97['childathome'] + nls97['childnotathome']
nls97['childnum'].value_counts().sort_index()

0.00       23
1.00     1364
2.00     1729
3.00     1020
4.00      420
5.00      149
6.00       55
7.00       21
8.00        7
9.00        1
12.00       2
Name: childnum, dtype: int64

# Set the values for a summary statistic using index labels

In [16]:
nls97.loc[100061:100292, 'gpaoverall'] = nls97['gpaoverall'].mean()
nls97['gpaoverall'].head()

personid
100061   2.82
100139   2.82
100284   2.82
100292   2.82
100583   2.91
Name: gpaoverall, dtype: float64

# Set the values using position

In [21]:
nls97.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8984 entries, 100061 to 999963
Data columns (total 89 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   object
 1   birthmonth             8984 non-null   int64
 2   birthyear              8984 non-null   int64
 3   highestgradecompleted  6663 non-null   float64
 4   maritalstatus          6672 non-null   object
 5   childathome            4791 non-null   float64
 6   childnotathome         4791 non-null   float64
 7   wageincome             5091 non-null   float64
 8   weeklyhrscomputer      6710 non-null   object
 9   weeklyhrstv            6711 non-null   object
 10  nightlyhrssleep        6706 non-null   float64
 11  satverbal              1406 non-null   float64
 12  satmath                1407 non-null   float64
 13  gpaoverall             6006 non-null   float64
 14  gpaenglish             5798 non-null   float64
 15  gpamath                5766 non-null   float64
 16  gpascience             5684 non-null   float64
 17  highestdegree          8953 non-null   object
 18  govprovidejobs         1833 non-null   object
 19  govpricecontrols       1859 non-null   object
 20  govhealthcare          1874 non-null   object
 21  govelderliving         1872 non-null   object
 22  govindhelp             1815 non-null   object
 23  govunemp               1811 non-null   object
 24  govincomediff          1775 non-null   object
 25  govcollegefinance      1875 non-null   object
 26  govdecenthousing       1847 non-null   object
 27  govprotectenvironment  1860 non-null   object
 28  weeksworked00          8603 non-null   float64
 29  weeksworked01          8564 non-null   float64
 30  weeksworked02          8556 non-null   float64
 31  weeksworked03          8490 non-null   float64
 32  weeksworked04          8458 non-null   float64
 33  weeksworked05          8403 non-null   float64
 34  weeksworked06          8340 non-null   float64
 35  weeksworked07          8272 non-null   float64
 36  weeksworked08          8186 non-null   float64
 37  weeksworked09          8146 non-null   float64
 38  weeksworked10          8054 non-null   float64
 39  weeksworked11          7968 non-null   float64
 40  weeksworked12          7747 non-null   float64
 41  weeksworked13          7680 non-null   float64
 42  weeksworked14          7612 non-null   float64
 43  weeksworked15          7389 non-null   float64
 44  weeksworked16          7068 non-null   float64
 45  weeksworked17          6670 non-null   float64
 46  colenrfeb97            1250 non-null   object
 47  colenroct97            8501 non-null   object
 48  colenrfeb98            8501 non-null   object
 49  colenroct98            8888 non-null   object
 50  colenrfeb99            8865 non-null   object
 51  colenroct99            8851 non-null   object
 52  colenrfeb00            8820 non-null   object
 53  colenroct00            8805 non-null   object
 54  colenrfeb01            8786 non-null   object
 55  colenroct01            8758 non-null   object
 56  colenrfeb02            8732 non-null   object
 57  colenroct02            8698 non-null   object
 58  colenrfeb03            8658 non-null   object
 59  colenroct03            8622 non-null   object
 60  colenrfeb04            8578 non-null   object
 61  colenroct04            8546 non-null   object
 62  colenrfeb05            8508 non-null   object
 63  colenroct05            8471 non-null   object
 64  colenrfeb06            8426 non-null   object
 65  colenroct06            8407 non-null   object
 66  colenrfeb07            8352 non-null   object
 67  colenroct07            8331 non-null   object
 68  colenrfeb08            8289 non-null   object
 69  colenroct08            8280 non-null   object
 70  colenrfeb09            8236 non-null   object
 71  colenroct09            8193 non-null   object
 72  colenrfeb10            8116 non-null   object
 73  colenroct10            8091 non-null   object
 74  colenrfeb11            8037 non-null   object
 75  colenroct11            7972 non-null   object
 76  colenrfeb12            7794 non-null   object
 77  colenroct12            7754 non-null   object
 78  colenrfeb13            7754 non-null   object
 79  colenroct13            7754 non-null   object
 80  colenrfeb14            7624 non-null   object
 81  colenroct14            7469 non-null   object
 82  colenrfeb15            7469 non-null   object
 83  colenroct15            7469 non-null   object
 84  colenrfeb16            7036 non-null   object
 85  colenroct16            6733 non-null   object
 86  colenrfeb17            6733 non-null   object
 87  colenroct17            6734 non-null   object
 88  childnum               4791 non-null   float64
dtypes: float64(30), int64(2), object(57)
memory usage: 6.4+ MB

In [17]:
nls97.iloc[0, 13] = 2
nls97.iloc[1:4, 13] = 1
nls97['gpaoverall'].head()

personid
100061   2.00
100139   1.00
100284   1.00
100292   1.00
100583   2.91
Name: gpaoverall, dtype: float64

# Set the GPA values after filtering

In [23]:
nls97['gpaoverall'].nlargest()

personid
312410   4.17
639701   4.11
850001   4.10
279096   4.08
620216   4.07
Name: gpaoverall, dtype: float64

In [24]:
nls97.loc[nls97['gpaoverall'] > 4, 'gpaoverall'] = 4
nls97['gpaoverall'].nlargest()

personid
112756   4.00
119784   4.00
160193   4.00
250666   4.00
271961   4.00
Name: gpaoverall, dtype: float64

In [26]:
# nls97.loc[[100061], 'gpaoverall'] returns a series,
# while nls97.loc[[100061], ['gpaoverall']] returns a DataFrame:

type(nls97.loc[[100061], 'gpaoverall'])

pandas.core.series.Series

In [27]:
# If the second argument of the loc accessor is a string, it will return a series. If it is a list,
# even if the list contains only one item, it will return a DataFrame.

type(nls97.loc[[100061], ['gpaoverall']])

pandas.core.frame.DataFrame