<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-pandas,-numpy,-and-the-datetime-module,-and-then-load-the-NLS-and-COVID-case-daily-data:" data-toc-modified-id="Import-pandas,-numpy,-and-the-datetime-module,-and-then-load-the-NLS-and-COVID-case-daily-data:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import pandas, numpy, and the datetime module, and then load the NLS and COVID case daily data:</a></span></li><li><span><a href="#Show-the-birth-month-and-year-values" data-toc-modified-id="Show-the-birth-month-and-year-values-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Show the birth month and year values</a></span></li><li><span><a href="#Use-the-series-fillna-method-to-set-a-value-for-the-missing-birth-month" data-toc-modified-id="Use-the-series-fillna-method-to-set-a-value-for-the-missing-birth-month-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Use the series fillna method to set a value for the missing birth month</a></span></li><li><span><a href="#Use-month-and-date-integers-to-create-a-datetime-column" data-toc-modified-id="Use-month-and-date-integers-to-create-a-datetime-column-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Use month and date integers to create a datetime column</a></span></li><li><span><a href="#Calculate-age-values-using-a-datetime-column" data-toc-modified-id="Calculate-age-values-using-a-datetime-column-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Calculate age values using a datetime column</a></span></li><li><span><a href="#Convert-a-string-column-into-a-datetime-column" data-toc-modified-id="Convert-a-string-column-into-a-datetime-column-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Convert a string column into a datetime column</a></span></li><li><span><a href="#Show-descriptive-statistics-on-the-datetime-column" data-toc-modified-id="Show-descriptive-statistics-on-the-datetime-column-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Show descriptive statistics on the datetime column</a></span></li><li><span><a href="#Create-a-timedelta-object-to-capture-a-date-interval" data-toc-modified-id="Create-a-timedelta-object-to-capture-a-date-interval-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Create a timedelta object to capture a date interval</a></span></li></ul></div>

# Import pandas, numpy, and the datetime module, and then load the NLS and COVID case daily data:

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# pd.set_option('display.width', 200)
# pd.set_option('display.max_columns', 35)
# pd.set_option('display.max_rows', 220)
# pd.options.display.float_format = '{:,.0f}'.format

In [3]:
import watermark
%load_ext watermark

%watermark -n -i -iv

numpy    : 1.19.2
watermark: 2.1.0
pandas   : 1.2.1
json     : 2.0.9

In [4]:
covidcases = pd.read_csv('data/covidcases720.csv')
nls97 = pd.read_csv('data/nls97c.csv')
nls97.set_index('personid', inplace=True)

# Show the birth month and year values

In [5]:
nls97[['birthmonth', 'birthyear']].isnull().sum()

birthmonth    1
birthyear     0
dtype: int64

In [6]:
nls97['birthmonth'].value_counts().sort_index()

1.0     815
2.0     693
3.0     760
4.0     659
5.0     689
6.0     720
7.0     762
8.0     782
9.0     839
10.0    765
11.0    763
12.0    736
Name: birthmonth, dtype: int64

In [7]:
nls97['birthyear'].value_counts().sort_index()

1980    1691
1981    1874
1982    1841
1983    1807
1984    1771
Name: birthyear, dtype: int64

# Use the series fillna method to set a value for the missing birth month

In [8]:
nls97['birthmonth'].fillna(int(nls97['birthmonth'].mean()), inplace=True)

In [9]:
nls97['birthmonth'].value_counts().sort_index()

1.0     815
2.0     693
3.0     760
4.0     659
5.0     689
6.0     721
7.0     762
8.0     782
9.0     839
10.0    765
11.0    763
12.0    736
Name: birthmonth, dtype: int64

In [10]:
nls97.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8984 entries, 100061 to 999963
Data columns (total 88 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   object
 1   birthmonth             8984 non-null   float64
 2   birthyear              8984 non-null   int64
 3   highestgradecompleted  6663 non-null   float64
 4   maritalstatus          6672 non-null   object
 5   childathome            4791 non-null   float64
 6   childnotathome         4791 non-null   float64
 7   wageincome             5091 non-null   float64
 8   weeklyhrscomputer      6710 non-null   object
 9   weeklyhrstv            6711 non-null   object
 10  nightlyhrssleep        6706 non-null   float64
 11  satverbal              1406 non-null   float64
 12  satmath                1407 non-null   float64
 13  gpaoverall             6004 non-null   float64
 14  gpaenglish             5798 non-null   float64
 15  gpamath                5766 non-null   float64
 16  gpascience             5684 non-null   float64
 17  highestdegree          8953 non-null   object
 18  govprovidejobs         1833 non-null   object
 19  govpricecontrols       1859 non-null   object
 20  govhealthcare          1874 non-null   object
 21  govelderliving         1872 non-null   object
 22  govindhelp             1815 non-null   object
 23  govunemp               1811 non-null   object
 24  govincomediff          1775 non-null   object
 25  govcollegefinance      1875 non-null   object
 26  govdecenthousing       1847 non-null   object
 27  govprotectenvironment  1860 non-null   object
 28  weeksworked00          8603 non-null   float64
 29  weeksworked01          8564 non-null   float64
 30  weeksworked02          8556 non-null   float64
 31  weeksworked03          8490 non-null   float64
 32  weeksworked04          8458 non-null   float64
 33  weeksworked05          8403 non-null   float64
 34  weeksworked06          8340 non-null   float64
 35  weeksworked07          8272 non-null   float64
 36  weeksworked08          8186 non-null   float64
 37  weeksworked09          8146 non-null   float64
 38  weeksworked10          8054 non-null   float64
 39  weeksworked11          7968 non-null   float64
 40  weeksworked12          7747 non-null   float64
 41  weeksworked13          7680 non-null   float64
 42  weeksworked14          7612 non-null   float64
 43  weeksworked15          7389 non-null   float64
 44  weeksworked16          7068 non-null   float64
 45  weeksworked17          6670 non-null   float64
 46  colenrfeb97            1250 non-null   object
 47  colenroct97            8501 non-null   object
 48  colenrfeb98            8501 non-null   object
 49  colenroct98            8888 non-null   object
 50  colenrfeb99            8865 non-null   object
 51  colenroct99            8851 non-null   object
 52  colenrfeb00            8820 non-null   object
 53  colenroct00            8805 non-null   object
 54  colenrfeb01            8786 non-null   object
 55  colenroct01            8758 non-null   object
 56  colenrfeb02            8732 non-null   object
 57  colenroct02            8698 non-null   object
 58  colenrfeb03            8658 non-null   object
 59  colenroct03            8622 non-null   object
 60  colenrfeb04            8578 non-null   object
 61  colenroct04            8546 non-null   object
 62  colenrfeb05            8508 non-null   object
 63  colenroct05            8471 non-null   object
 64  colenrfeb06            8426 non-null   object
 65  colenroct06            8407 non-null   object
 66  colenrfeb07            8352 non-null   object
 67  colenroct07            8331 non-null   object
 68  colenrfeb08            8289 non-null   object
 69  colenroct08            8280 non-null   object
 70  colenrfeb09            8236 non-null   object
 71  colenroct09            8193 non-null   object
 72  colenrfeb10            8116 non-null   object
 73  colenroct10            8091 non-null   object
 74  colenrfeb11            8037 non-null   object
 75  colenroct11            7972 non-null   object
 76  colenrfeb12            7794 non-null   object
 77  colenroct12            7754 non-null   object
 78  colenrfeb13            7754 non-null   object
 79  colenroct13            7754 non-null   object
 80  colenrfeb14            7624 non-null   object
 81  colenroct14            7469 non-null   object
 82  colenrfeb15            7469 non-null   object
 83  colenroct15            7469 non-null   object
 84  colenrfeb16            7036 non-null   object
 85  colenroct16            6733 non-null   object
 86  colenrfeb17            6733 non-null   object
 87  colenroct17            6734 non-null   object
dtypes: float64(30), int64(1), object(57)
memory usage: 6.1+ MB

# Use month and date integers to create a datetime column

In [11]:
nls97['birthdate'] = pd.to_datetime(
    dict(year=nls97['birthyear'], month=nls97['birthmonth'], day=15))

In [12]:
nls97[['birthmonth', 'birthyear', 'birthdate']].head()

          birthmonth  birthyear  birthdate
personid
100061           5.0       1980 1980-05-15
100139           9.0       1983 1983-09-15
100284          11.0       1984 1984-11-15
100292           4.0       1982 1982-04-15
100583           6.0       1980 1980-06-15

In [13]:
nls97[['birthmonth', 'birthyear', 'birthdate']].isnull().sum()

birthmonth    0
birthyear     0
birthdate     0
dtype: int64

# Calculate age values using a datetime column

In [24]:
def calc_age(startdate, enddate):
    age = enddate.year - startdate.year
    if (enddate.month < startdate.month or
        (enddate.month == startdate.month and enddate.day < startdate.day)):
        age = age - 1
    return age

In [25]:
rundate = pd.to_datetime('2020-07-20')

In [26]:
nls97['age'] = nls97.apply(lambda x: calc_age(x['birthdate'], rundate), axis=1)

In [27]:
nls97.loc[100061:100583, ['age', 'birthdate']]

          age  birthdate
personid
100061     40 1980-05-15
100139     36 1983-09-15
100284     35 1984-11-15
100292     38 1982-04-15
100583     40 1980-06-15

# Convert a string column into a datetime column

In [28]:
covidcases.iloc[:, 0:6].dtypes

iso_code        object
continent       object
location        object
casedate        object
total_cases    float64
new_cases      float64
dtype: object

In [29]:
covidcases.iloc[:, 0:6].sample(2, random_state=1).T

                   13482          2445
iso_code             IMN            BRB
continent         Europe  North America
location     Isle of Man       Barbados
casedate      2020-06-20     2020-04-28
total_cases        336.0           80.0
new_cases            0.0            1.0

In [30]:
covidcases['casedate'] = pd.to_datetime(covidcases['casedate'],
                                        format='%Y-%m-%d')

In [31]:
covidcases.iloc[:, 0:6].dtypes

iso_code               object
continent              object
location               object
casedate       datetime64[ns]
total_cases           float64
new_cases             float64
dtype: object

In [32]:
covidcases.dtypes

iso_code                                   object
continent                                  object
location                                   object
casedate                           datetime64[ns]
total_cases                               float64
new_cases                                 float64
total_deaths                              float64
new_deaths                                float64
total_cases_per_million                   float64
new_cases_per_million                     float64
total_deaths_per_million                  float64
new_deaths_per_million                    float64
total_tests                               float64
new_tests                                 float64
total_tests_per_thousand                  float64
new_tests_per_thousand                    float64
new_tests_smoothed                        float64
new_tests_smoothed_per_thousand           float64
tests_units                                object
stringency_index                          float64
population                                float64
population_density                        float64
median_age                                float64
aged_65_older                             float64
aged_70_older                             float64
gdp_per_capita                            float64
extreme_poverty                           float64
cvd_death_rate                            float64
diabetes_prevalence                       float64
female_smokers                            float64
male_smokers                              float64
handwashing_facilities                    float64
hospital_beds_per_thousand                float64
life_expectancy                           float64
region                                     object
dtype: object

# Show descriptive statistics on the datetime column

In [33]:
covidcases['casedate'].describe()

D:\ProgramData\Anaconda3\envs\dsn\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

count                   29529
unique                    195
top       2020-05-23 00:00:00
freq                      209
first     2019-12-31 00:00:00
last      2020-07-12 00:00:00
Name: casedate, dtype: object

# Create a timedelta object to capture a date interval

In [34]:
firstcase = covidcases.loc[covidcases['new_cases'] > 0,
                           ['location', 'casedate']].sort_values(
                               ['location', 'casedate']).drop_duplicates(
                                   ['location'], keep='first').rename(
                                       columns={'casedate': 'firstcasedate'})

In [36]:
covidcases = pd.merge(covidcases,
                      firstcase,
                      left_on=['location'],
                      right_on=['location'],
                      how='left')

In [37]:
covidcases['dayssincefirstcase'] = covidcases['casedate'] - covidcases[
    'firstcasedate']

In [39]:
covidcases['dayssincefirstcase'].describe()

count                         29529
mean     56 days 00:15:12.892410850
std      47 days 00:35:41.813685246
min              -62 days +00:00:00
25%                21 days 00:00:00
50%                57 days 00:00:00
75%                92 days 00:00:00
max               194 days 00:00:00
Name: dayssincefirstcase, dtype: object