<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-pandas-and-scikit-learn's-KNNImputer-module,-and-then-load-the-NLS-data:" data-toc-modified-id="Import-pandas-and-scikit-learn's-KNNImputer-module,-and-then-load-the-NLS-data:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import pandas and scikit-learn's KNNImputer module, and then load the NLS data:</a></span></li><li><span><a href="#Select-the-NLS-school-record-data" data-toc-modified-id="Select-the-NLS-school-record-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Select the NLS school record data</a></span></li><li><span><a href="#Initialize-a-KNN-imputation-model-and-fill-in-the-values" data-toc-modified-id="Initialize-a-KNN-imputation-model-and-fill-in-the-values-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Initialize a KNN imputation model and fill in the values</a></span></li><li><span><a href="#View-the-imputed-values" data-toc-modified-id="View-the-imputed-values-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>View the imputed values</a></span></li><li><span><a href="#Compare-the-summary-statistics" data-toc-modified-id="Compare-the-summary-statistics-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Compare the summary statistics</a></span></li></ul></div>

# Import pandas and scikit-learn's KNNImputer module, and then load the NLS data:

In [1]:
import pandas as pd
from sklearn.impute import KNNImputer

In [2]:
# pd.options.display.float_format = '{:,.1f}'.format

In [3]:
import watermark
%load_ext watermark

%watermark -n -i -iv

pandas   : 1.2.1
json     : 2.0.9
watermark: 2.1.0

In [4]:
nls97 = pd.read_csv('data/nls97c.csv')
nls97.set_index('personid', inplace=True)

# Select the NLS school record data

In [8]:
schoolrecordlist = [
    'satverbal', 'satmath', 'gpaoverall', 'gpaenglish', 'gpamath',
    'gpascience', 'highestgradecompleted'
]

In [9]:
schoolrecord = nls97[schoolrecordlist]

# Initialize a KNN imputation model and fill in the values

In [10]:
impKNN = KNNImputer(n_neighbors=5)
newvalues = impKNN.fit_transform(schoolrecord)

In [11]:
schoolrecordimp = pd.DataFrame(newvalues,
                               columns=schoolrecordlist,
                               index=schoolrecord.index)

# View the imputed values

In [12]:
schoolrecord.head().T

personid               100061  100139  100284  100292  100583
satverbal                 NaN     NaN     NaN     NaN     NaN
satmath                   NaN     NaN     NaN     NaN     NaN
gpaoverall               3.06     NaN     NaN    3.45    2.91
gpaenglish             350.00     NaN     NaN  345.00  283.00
gpamath                280.00     NaN     NaN  370.00  285.00
gpascience             315.00     NaN     NaN  300.00  240.00
highestgradecompleted   13.00    12.0     7.0     NaN   13.00

In [13]:
schoolrecordimp.head().T

personid               100061   100139   100284  100292  100583
satverbal              446.00  412.000  290.800  534.00  414.00
satmath                460.00  470.000  285.200  560.00  454.00
gpaoverall               3.06    2.346    2.548    3.45    2.91
gpaenglish             350.00  232.400  136.000  345.00  283.00
gpamath                280.00  218.000  244.600  370.00  285.00
gpascience             315.00  247.800  258.000  300.00  240.00
highestgradecompleted   13.00   12.000    7.000    9.80   13.00

# Compare the summary statistics

In [14]:
schoolrecord[['gpaoverall', 'highestgradecompleted']].agg(['mean', 'count'])

        gpaoverall  highestgradecompleted
mean      2.818408              14.059883
count  6004.000000            6663.000000

In [15]:
schoolrecordimp[['gpaoverall', 'highestgradecompleted']].agg(['mean', 'count'])

       gpaoverall  highestgradecompleted
mean      2.77526              13.505609
count  8984.00000            8984.000000