<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-pandas-and-load-the-weather-station-and-country-data" data-toc-modified-id="Import-pandas-and-load-the-weather-station-and-country-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import pandas and load the weather station and country data</a></span></li><li><span><a href="#Check-the-merge-by-column-matches" data-toc-modified-id="Check-the-merge-by-column-matches-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Check the merge-by column matches</a></span></li><li><span><a href="#Merge-the-country-and-location-data" data-toc-modified-id="Merge-the-country-and-location-data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Merge the country and location data</a></span></li></ul></div>

# Import pandas and load the weather station and country data

In [1]:
import pandas as pd

In [2]:
import watermark
%load_ext watermark

%watermark -n -i -iv

pandas   : 1.2.1
json     : 2.0.9
watermark: 2.1.0

In [3]:
countries = pd.read_csv('data/ltcountries.csv')
locations = pd.read_csv('data/ltlocations.csv')

# Check the merge-by column matches

In [4]:
def checkmerge(dfleft, dfright, mergebyleft, mergebyright):
    dfleft['inleft'] = 'Y'
    dfright['inright'] = 'Y'
    dfboth = pd.merge(dfleft[[mergebyleft, 'inleft']],
                      dfright[[mergebyright, 'inright']],
                      left_on=[mergebyleft],
                      right_on=[mergebyright],
                      how='outer')
    dfboth.fillna('N', inplace=True)
    print(pd.crosstab(dfboth['inleft'], dfboth['inright']))
    print(dfboth.loc[(dfboth['inleft'] == 'N') |
                     (dfboth['inright'] == 'N')].head(20))

In [5]:
checkmerge(countries.copy(), locations.copy(), 'countryid', 'countryid')

inright  N      Y
inleft
N        0      1
Y        2  27472
      countryid inleft inright
9715         LQ      Y       N
13103        ST      Y       N
27474        FO      N       Y

# Merge the country and location data

In [6]:
stations = pd.merge(countries,
                    locations,
                    left_on=['countryid'],
                    right_on=['countryid'],
                    how='left')

In [7]:
stations[['locationid', 'latitude', 'stnelev', 'country']].head(10)

    locationid  latitude  stnelev               country
0  ACW00011604   57.7667     18.0   Antigua and Barbuda
1  AE000041196   25.3330     34.0  United Arab Emirates
2  AEM00041184   25.6170     31.0  United Arab Emirates
3  AEM00041194   25.2550     10.4  United Arab Emirates
4  AEM00041216   24.4300      3.0  United Arab Emirates
5  AEM00041217   24.4330     26.8  United Arab Emirates
6  AEM00041218   24.2620    264.9  United Arab Emirates
7  AF000040930   35.3170   3366.0           Afghanistan
8  AFM00040911   36.7000    378.0           Afghanistan
9  AFM00040938   34.2100    977.2           Afghanistan

In [8]:
stations.shape

(27474, 7)