<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-the-libraries-and-load-the-DataFrames" data-toc-modified-id="Import-the-libraries-and-load-the-DataFrames-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import the libraries and load the DataFrames</a></span></li><li><span><a href="#Set-and-show-the-index-and-the-size-of-the-nls97-data" data-toc-modified-id="Set-and-show-the-index-and-the-size-of-the-nls97-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Set and show the index and the size of the nls97 data</a></span></li><li><span><a href="#Show-the-data-types-and-non-null-value-counts" data-toc-modified-id="Show-the-data-types-and-non-null-value-counts-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Show the data types and non-null value counts</a></span></li><li><span><a href="#Show-the-first-row-of-the-nls97-data" data-toc-modified-id="Show-the-first-row-of-the-nls97-data-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Show the first row of the nls97 data</a></span></li><li><span><a href="#Set-and-show-the-index-and-size-for-the-COVID-data" data-toc-modified-id="Set-and-show-the-index-and-size-for-the-COVID-data-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Set and show the index and size for the COVID data</a></span></li><li><span><a href="#Show-the-data-types-and-non-null-value-counts" data-toc-modified-id="Show-the-data-types-and-non-null-value-counts-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Show the data types and non-null value counts</a></span></li><li><span><a href="#Show-a-sample-of-a-few-rows-of-the-COVID-case-data" data-toc-modified-id="Show-a-sample-of-a-few-rows-of-the-COVID-case-data-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Show a sample of a few rows of the COVID case data</a></span></li></ul></div>

# Import the libraries and load the DataFrames

In [1]:
import pandas as pd
import numpy as np

In [22]:
# pd.set_option('display.width', 70)
# pd.set_option('display.max_columns', 5)
# pd.set_option('display.max_rows', 20)
# pd.options.display.float_format = '{:,.0f}'.format

In [3]:
import watermark
%load_ext watermark

In [5]:
%watermark -n -v -iv

Python implementation: CPython
Python version       : 3.7.9
IPython version      : 7.20.0

watermark: 2.1.0
json     : 2.0.9
numpy    : 1.19.2
pandas   : 1.2.1

In [6]:
nls97 = pd.read_csv('data/nls97.csv')

In [7]:
covidtotals = pd.read_csv('data/covidtotals.csv', parse_dates=['lastdate'])

# Set and show the index and the size of the nls97 data

In [8]:
nls97.head(2)

,personid,gender,birthmonth,birthyear,highestgradecompleted,maritalstatus,childathome,childnotathome,wageincome,weeklyhrscomputer,...,colenrfeb13,colenroct13,colenrfeb14,colenroct14,colenrfeb15,colenroct15,colenrfeb16,colenroct16,colenrfeb17,colenroct17
0,100061,Female,5,1980,13.0,Married,4.0,0.0,12500.0,10 hours or more a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled
1,100139,Male,9,1983,12.0,Married,2.0,0.0,120000.0,1 to 3 hours a week,...,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled,1. Not enrolled

In [9]:
covidtotals.head(2)

,iso_code,lastdate,location,total_cases,total_deaths,total_cases_pm,total_deaths_pm,population,pop_density,median_age,gdp_per_capita,hosp_beds
0,AFG,2020-06-01,Afghanistan,15205,257,390.589,6.602,38928341.0,54.422,18.6,1803.987,0.50
1,ALB,2020-06-01,Albania,1137,33,395.093,11.467,2877800.0,104.871,38.0,11803.431,2.89

In [10]:
nls97.set_index('personid', inplace=True)

In [11]:
nls97.index

Int64Index([100061, 100139, 100284, 100292, 100583, 100833, 100931, 101089,
            101122, 101132,
            ...
            998997, 999031, 999053, 999087, 999103, 999291, 999406, 999543,
            999698, 999963],
           dtype='int64', name='personid', length=8984)

In [12]:
nls97.shape

(8984, 88)

In [13]:
nls97.index.nunique()

8984

# Show the data types and non-null value counts

In [14]:
nls97.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8984 entries, 100061 to 999963
Data columns (total 88 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   object
 1   birthmonth             8984 non-null   int64
 2   birthyear              8984 non-null   int64
 3   highestgradecompleted  6663 non-null   float64
 4   maritalstatus          6672 non-null   object
 5   childathome            4791 non-null   float64
 6   childnotathome         4791 non-null   float64
 7   wageincome             5091 non-null   float64
 8   weeklyhrscomputer      6710 non-null   object
 9   weeklyhrstv            6711 non-null   object
 10  nightlyhrssleep        6706 non-null   float64
 11  satverbal              1406 non-null   float64
 12  satmath                1407 non-null   float64
 13  gpaoverall             6004 non-null   float64
 14  gpaenglish             5798 non-null   float64
 15  gpamath                5766 non-null   float64
 16  gpascience             5684 non-null   float64
 17  highestdegree          8953 non-null   object
 18  govprovidejobs         1833 non-null   object
 19  govpricecontrols       1859 non-null   object
 20  govhealthcare          1874 non-null   object
 21  govelderliving         1872 non-null   object
 22  govindhelp             1815 non-null   object
 23  govunemp               1811 non-null   object
 24  govincomediff          1775 non-null   object
 25  govcollegefinance      1875 non-null   object
 26  govdecenthousing       1847 non-null   object
 27  govprotectenvironment  1860 non-null   object
 28  weeksworked00          8603 non-null   float64
 29  weeksworked01          8564 non-null   float64
 30  weeksworked02          8556 non-null   float64
 31  weeksworked03          8490 non-null   float64
 32  weeksworked04          8458 non-null   float64
 33  weeksworked05          8403 non-null   float64
 34  weeksworked06          8340 non-null   float64
 35  weeksworked07          8272 non-null   float64
 36  weeksworked08          8186 non-null   float64
 37  weeksworked09          8146 non-null   float64
 38  weeksworked10          8054 non-null   float64
 39  weeksworked11          7968 non-null   float64
 40  weeksworked12          7747 non-null   float64
 41  weeksworked13          7680 non-null   float64
 42  weeksworked14          7612 non-null   float64
 43  weeksworked15          7389 non-null   float64
 44  weeksworked16          7068 non-null   float64
 45  weeksworked17          6670 non-null   float64
 46  colenrfeb97            1250 non-null   object
 47  colenroct97            8501 non-null   object
 48  colenrfeb98            8501 non-null   object
 49  colenroct98            8888 non-null   object
 50  colenrfeb99            8865 non-null   object
 51  colenroct99            8851 non-null   object
 52  colenrfeb00            8820 non-null   object
 53  colenroct00            8805 non-null   object
 54  colenrfeb01            8786 non-null   object
 55  colenroct01            8758 non-null   object
 56  colenrfeb02            8732 non-null   object
 57  colenroct02            8698 non-null   object
 58  colenrfeb03            8658 non-null   object
 59  colenroct03            8622 non-null   object
 60  colenrfeb04            8578 non-null   object
 61  colenroct04            8546 non-null   object
 62  colenrfeb05            8508 non-null   object
 63  colenroct05            8471 non-null   object
 64  colenrfeb06            8426 non-null   object
 65  colenroct06            8407 non-null   object
 66  colenrfeb07            8352 non-null   object
 67  colenroct07            8331 non-null   object
 68  colenrfeb08            8289 non-null   object
 69  colenroct08            8280 non-null   object
 70  colenrfeb09            8236 non-null   object
 71  colenroct09            8193 non-null   object
 72  colenrfeb10            8116 non-null   object
 73  colenroct10            8091 non-null   object
 74  colenrfeb11            8037 non-null   object
 75  colenroct11            7972 non-null   object
 76  colenrfeb12            7794 non-null   object
 77  colenroct12            7754 non-null   object
 78  colenrfeb13            7754 non-null   object
 79  colenroct13            7754 non-null   object
 80  colenrfeb14            7624 non-null   object
 81  colenroct14            7469 non-null   object
 82  colenrfeb15            7469 non-null   object
 83  colenroct15            7469 non-null   object
 84  colenrfeb16            7036 non-null   object
 85  colenroct16            6733 non-null   object
 86  colenrfeb17            6733 non-null   object
 87  colenroct17            6734 non-null   object
dtypes: float64(29), int64(2), object(57)
memory usage: 6.1+ MB

# Show the first row of the nls97 data

In [15]:
nls97.head(2).T

personid                        100061           100139
gender                          Female             Male
birthmonth                           5                9
birthyear                         1980             1983
highestgradecompleted             13.0             12.0
maritalstatus                  Married          Married
...                                ...              ...
colenroct15            1. Not enrolled  1. Not enrolled
colenrfeb16            1. Not enrolled  1. Not enrolled
colenroct16            1. Not enrolled  1. Not enrolled
colenrfeb17            1. Not enrolled  1. Not enrolled
colenroct17            1. Not enrolled  1. Not enrolled

[88 rows x 2 columns]

# Set and show the index and size for the COVID data

In [16]:
covidtotals.set_index('iso_code', inplace=True)

In [17]:
covidtotals.index

Index(['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'AIA', 'ATG', 'ARG', 'ARM', 'ABW',
       ...
       'VIR', 'URY', 'UZB', 'VAT', 'VEN', 'VNM', 'ESH', 'YEM', 'ZMB', 'ZWE'],
      dtype='object', name='iso_code', length=210)

In [18]:
covidtotals.shape

(210, 11)

In [19]:
covidtotals.index.nunique()

210

# Show the data types and non-null value counts

In [20]:
covidtotals.info()

<class 'pandas.core.frame.DataFrame'>
Index: 210 entries, AFG to ZWE
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   lastdate         210 non-null    datetime64[ns]
 1   location         210 non-null    object
 2   total_cases      210 non-null    int64
 3   total_deaths     210 non-null    int64
 4   total_cases_pm   209 non-null    float64
 5   total_deaths_pm  209 non-null    float64
 6   population       210 non-null    float64
 7   pop_density      198 non-null    float64
 8   median_age       186 non-null    float64
 9   gdp_per_capita   182 non-null    float64
 10  hosp_beds        164 non-null    float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(1)
memory usage: 19.7+ KB

# Show a sample of a few rows of the COVID case data

In [21]:
covidtotals.sample(2, random_state=1).T

iso_code                         COG                  THA
lastdate         2020-06-01 00:00:00  2020-06-01 00:00:00
location                       Congo             Thailand
total_cases                      611                 3081
total_deaths                      20                   57
total_cases_pm               110.727                44.14
total_deaths_pm                3.624                0.817
population                 5518092.0           69799978.0
pop_density                   15.405              135.132
median_age                      19.0                 40.1
gdp_per_capita              4881.406            16277.671
hosp_beds                        NaN                  2.1